body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    padding: 20px;
}

h1 {
    text-align: center;
}

.card {
    background: white;
    padding: 15px;
    margin: 20px auto;
    width: 450px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

button {
    padding: 10px 15px;
    background: #2ecc71;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #27ae60;
}

pre {
    background: #222;
    color: #0f0;
    padding: 10px;
    border-radius: 8px;
    height: 150px;
    overflow-y: auto;
}
